:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
            "nav nav nav nav"
            "abilities main main main"
            "abilities stats types specie"
            "abilities footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
}

nav {
    background: #b9ffd8;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    height:4em
}

main {
    background: #84ffff;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.abilities {
    background: #f7ffc2;
    grid-area: abilities;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    height: calc(100vh - 5em - 0.2rem);
    overflow-y: auto;
}

.stats {
    background: #a5bcff;
    grid-area: stats;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    max-height: 31vh;
    overflow-y: auto;
}

.types {
    background: #ff9662;
    grid-area: types;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    max-height: 31vh;
    overflow-y: auto;
}

.specie {
    background: #5ebdff;
    grid-area: specie;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    max-height: 31vh;
    overflow-y: auto;
}

footer {
    background: #e9b3aa;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    height: 20vh;
    overflow-y: auto;
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: "nav" "abilities" "main" "stats" "types" "specie" "footer";
    }
    .abilities {
        height:35vh
    }
    .stats,.types,.specie {
        height: 45vh;
    }
    tbody tr td {
        text-align: center;
    }
}